<header>
  <a routerLink="/">
    <img src="/assets/logo.png" alt="Pubmatic carpooling">
  </a>
  <nav>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/rides">Rides</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/drivers">Drivers</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/passengers">Passengers</a>
      </li>
    </ul>
  </nav>
  <div class="search">
    <input type="text" placeholder="Search for rides">
    <button class="button primary">Search</button>
  </div>
</header>
