
<div>
    <h3>Clone the Project</h3>
    <p>Open any IDE and in terminal, run <code>cd pubmatic-carpooling-website</code></p>
    <p>Run <code>ng serve</code> (Make sure Angular is installed, if not go through <a href="https://angular.io/guide/setup-local">https://angular.io/guide/setup-local</a>)</p>
    <h3>Create a Login Component</h3>
    <p>Create a login component that allows users to log in to the carpooling system using their Pubmatic credentials.</p>
    <h3>Create a Registration Component</h3>
    <p>Create a registration component that allows users to sign up for the carpooling program by providing their personal information, vehicle details, and preferred routes.</p>
    <h3>Create a Search Component</h3>
    <p>Create a search component that allows users to search for other carpoolers based on their preferred routes and schedules.</p>
    <h3>Create a Service</h3>
    <p>Create a service that handles the authentication of users and manages the user data using an API.</p>
    <h3>Create a Settings/MyProfile Component</h3>
    <p>Create a settings/MyProfile component that allows users to manage their carpooling preferences, update their personal information, and view their carpooling statistics.</p>
    <h3>Make this website interactive and Add CSS </h3>
    <p>You can change and add new styling and put your innovative and creative ideas to make it dynamic as you love</p> <br><br>
        
    
    

  
</div>
   
       